/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  height: 100vh; /* Full viewport height */
  padding: 20px;
}